h1{
    text-align: center;
    margin-bottom: 2%;
}
.food_img{
   border-radius: 10px;
   width: 100%;
    height: auto;
}
.content-making{
    padding-top: 2%;
    padding-bottom: 2%;
}
.howTo{
    text-align: center;
}